#Footer {
    display: flex;
    flex-direction: column;
    color: white;
}

#Footer-d1 {
    padding: 15px 0px;
    background-color: #37475a;
}

#Footer-d2 {
    padding: 15px 0px;
    background-color: #232f3e;
}

#Footer-d2nl1 {
    border-bottom: 3px solid #f79b34;
    text-decoration: none;
}

#Footer-d2nl1s1 {
    color: white;
    font-size: xx-large;
    font-weight: 700;
}

#Footer-d2nl1s2 {
    color: #f79b34;
    font-size: xx-large;
    font-weight: 700;
}

#Footer-d2i1 {
    width: 80px;
}

#Footer-d3 {
    padding: 15px 0px;
    background-color: #131a22;
}

.Footer-Divs {
    display: flex;
    justify-content: center;
    align-items: center;
}