@media screen and (max-width: 700px) {
    /* STYLES HERE */
    #Header-d1 {
        width: auto;
        height: 180px;
        display: grid;

        grid-template-rows: auto 1fr auto;
        background-color: #131921;
    }
}

@media screen and (min-width: 701px) {
    /* STYLES HERE */
    #Header-d1 {
        width: auto;
        height: 60px;
        display: grid;
        /* grid-template-columns: auto 1fr auto; */
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        background-color: #131921;
    }
}

#Header {
    color: #ffffff;
}

#Header-d1d1nl1 {
    border-bottom: 3px solid #f79b34;
    text-decoration: none;
}

#Header-d1d1nl1s1 {
    color: white;
    font-size: xx-large;
    font-weight: 700;
}

#Header-d1d1nl1s2 {
    color: #f79b34;
    font-size: xx-large;
    font-weight: 700;
}

#Header-d1d1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
}

#Header-d1d2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
}

#Header-d1d3 {
    display: flex;
    padding: 10px 10px;
    box-sizing: border-box;
    justify-content: space-around;
}

#Header-n1 {
    background-color: #232f3e;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Header-n1nl1 {
    text-decoration: none;
}

#Header-n1nl1s1 {
    color: white;
    font-size: large;
    font-weight: 700;
}

#Header-n1ul1 {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.Header-list {
    margin: 5px 0px;
    padding: 10px;
}

.headerspantop {
    font-size: small;
}

.headerspanbot {
    font-weight: 1000;
    font-size: small;
}
