.ReviewCard {
    height: auto;
    width: 700px;
    display: flex;
    flex-direction: column;
    font-size: small;
}

.ReviewCard-d1 {
    height: 35px;
    display: flex;
    align-items: center;
}

.ReviewCard-d1d1 {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0px 10px;
}

.ReviewCard-d1d1i1 {
    height: 30px;
    width: 30px;
}

.ReviewCard-d2 {
    height: 20px;
    display: flex;
    align-items: center;
}


.ReviewCard-d2s1 {
    font-weight: 700;
}


.ReviewCard-s1 {
    color: grey;
}

.ReviewCard-d3 {
    display: flex;
    justify-content: center;
}

.ReviewCard-d3b1 {
    height: 30px;
    width: 100px;
    margin: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffa41c;
}

.ReviewCard-d3b2 {
    height: 30px;
    width: 100px;
    margin: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #e63946;
}