#UserBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 5px;
}

#Anonymus {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px;

}

#Anonymus-d1 {
    height: auto;
    width: 150px;
    position: absolute;
    top: 98%;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 2px solid rgba(0, 0, 0, 0.4);
    padding: 15px;
    background-color: white;
    color: black;
    z-index: 1;
}

.Anonymus-d1s1 {
    margin: 5px 0px;
    padding-left: 25px;
    font-weight: 600;
    cursor: pointer;
}
